# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Editors
.idea/*
.vscode/*

#Dota 2 stuff
*.bin
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
panorama_debugger.cfg
game/scripts/vscripts/addon_game_mode.lua
game/scripts/vscripts/dota-std.d.ts
game/scripts/vscripts/dota-modifier-properties.d.ts
game/scripts/vscripts/dota-gameevents.d.ts
game/scripts/vscripts/dota-enums.d.ts
game/scripts/vscripts/dota-api.d.ts
game/scripts/vscripts/tsconfig.json
